## Experiment 4: Baseline (w/o Fullness feature)
This experiment trains, validates and tunes a regression of load weights on the following features:

1. **Timestamp** Datetime attributes of the arriving load
1. **Station:** Facility (Metro Central or Metro South) to which the load is arriving
2. **Material:** Dominant material stream (MSW, residential or commercial organics, wood or yard debris) arriving in the load
3. **Vehicle ID:** Information about the arriving vehicle's general type only (i.e. pickup, car, etc.)

The dataset is described in more detail in [this notebook](https://app.hex.tech/2737cf3a-31c1-4361-9f90-8dea0b629cf0/hex/fa95f966-0912-42ca-9c83-9e14b785420f/draft/logic).

In [1]:
# import packages
import pandas as pd
import numpy as np
from pycaret.regression import *

In [2]:
# import data
path = r'C:\Users\Sherman\OneDrive - Metro\Sherman\Projects\Metro TS Load Weight Prediction\Data\Baseline_noFull.csv'
exp4_data = pd.read_csv(path)

# convert timestamp column to datetime type
exp4_data['TimeStamp'] = pd.to_datetime(exp4_data['TimeStamp'])

In [3]:
exp4_data.head()

            TimeStamp      Station Material          Vehicle  Tons
0 2021-04-04 07:02:21  Metro South      MSW  Standard Pickup  0.11
1 2021-04-04 07:01:35  Metro South      MSW  Standard Pickup  0.13
2 2021-04-04 07:05:41  Metro South      MSW  Standard Pickup  0.22
3 2021-04-04 07:13:58  Metro South      MSW  Standard Pickup  0.09
4 2021-04-04 07:15:39  Metro South      MSW  Standard Pickup  0.06

In [4]:
# Set up experiment and pre-process data
exp4 = setup(data = exp4_data, 
             target = 'Tons',
             normalize = True,
             session_id = 7512,
             use_gpu = True
            )

In [5]:
# Get setup configuration grid
exp4_config = pull()
exp4_config.to_csv('exp4_config.csv', index=False)

In [6]:
# train an extra trees regressor using 10-fold CV
exp4_bestmodel = create_model('et')

# track and dump cv training scores
exp4_training = pull()
exp4_training.to_csv('exp4_training.csv', index=False)

Initiated  . . . . . . . . . . . . . . . . . .              12:23:46
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [7]:
# Residuals plot
plot_model(exp4_bestmodel, plot = 'residuals', save = True)

'Residuals.png'

In [8]:
# Error plot
plot_model(exp4_bestmodel, plot='error', save=True)

'Prediction Error.png'

In [9]:
# Feature importance plot
plot_model(exp4_bestmodel, plot='feature', save=True)

'Feature Importance.png'

In [10]:
# Use test/hold-out set to make predictions
exp4_pred_holdout = predict_model(exp4_bestmodel)
exp4_pred_holdout.to_csv('exp4_pred_holdout.csv', index=False)

# Pull and export test/hold-out scores
exp4_holdout = pull()
exp4_holdout.to_csv('exp4_holdout.csv', index=False)

In [11]:
# Save model pkl file
save_model(exp4_bestmodel, 'exp4_pipeline')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\Sherman\AppData\Local\Temp\joblib),
          steps=[('date_feature_extractor',
                  TransformerWrapper(include=['TimeStamp'],
                                     transformer=ExtractDateTimeFeatures())),
                 ('numerical_imputer',
                  TransformerWrapper(include=[], transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['Station', 'Material', 'Ve...
                                     transformer=OneHotEncoder(cols=['Material'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('rest_encoding',
                  TransformerWrapper(include=['Vehicle'],
                                     transformer=LeaveOneOutEncoder(cols=['Vehicle'],
                                                                    handle_missing='return_nan',
                                                                    random_state=7512))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('trained_model',
                  ExtraTreesRegressor(n_jobs=-1, random_state=7512))]),
 'exp4_pipeline.pkl')